[submodule "setup"]
	path = setup
	url = git@github.com:penlook/setup.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:penlook/deploy.git
[submodule "server"]
	path = server
	url = git@github.com:penlook/server.git
